@page
@using System.Threading;


<div class="container colcol-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5 mb-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Tss Strorytime <br /> Big Bang 2024
            </h1>
            <p class="lead">Flavour text as in: this is the x big bang in a row, we are excited, all that good stuff</p>
        </div>
        <div class="col-12 col-lg-6">
            <img src="https://cdn.discordapp.com/attachments/1184314998600781855/1194303823003533433/image.png?ex=65afdd1c&is=659d681c&hm=a7ccd3ebdbea207839e17b2b18a715a5cfa41cd28dc0e4b8be834916566dbaef&"
                 class="d-block mx-lg-auto img-fluid" width="400" />
        </div>
    </div>
</div>.

<section></section>
<div class="container my-5 mh-100">
    <div class="row justify-content-center m-5">
        <h2 class="text-center">Mods</h2>
<div class="col-7 d-flex my-3">
    <img class="img-thumbnail rounded mx-5" src="~/lib/Images/princepie.jpg" alt="princey" />
    <div class="intro-desc">
        <b>Atlas</b> they/them <br />
        I've been writing for the fandom since 2018 and this is my 4th big bang i'm participating in and my second year as a mood :D
    </div>
</div>

        <div class="col-7 d-flex my-3">
        <img class="img-thumbnail rounded mx-5" src="~/lib/Images/Crow2.jpg" alt="Crow" />
    <div class="intro-desc">
        <b>Crow</b> they/them <br />
        I've participated in this, amd similar big bang events both as writer and artist and this is the second year I'm a mod :D
    </div>
</div>
       

    <div class="col-7 d-flex my-3" >
            <img class="img-thumbnail rounded mx-5" src="~/lib/Images/Edu_bb.jpg" alt="Edu" />
    <div class="intro-desc">
        <b>Edu</b> they/them <br />
        I'm super excited to get to write and to help mod this event! This will be my fourth Big Bang, second as a mod and I can't wait to see everyone's amazing creations!
    </div>
        </div>
    </div>
</div>
<div class="container colcol-xxl-8 my-5">
    <div class="row">
<div class="col">

        <h2 class="text-center my-2 py-2">Schedule</h2>
<div class="k31gt">
    <p><strong>February 1:&nbsp; </strong>Writer, artist, and beta sign-ups open, discord opens</p>
</div>
<div class="k31gt">
    <p><strong>April 30:</strong>&nbsp; Writer sign-ups close; First writer check-in with at least 1k words due</p>
</div>
<div class="k31gt">
    <p><strong>May 1-8:&nbsp; </strong>Summaries submitted</p>
</div>
<div class="k31gt">
    <p><strong>May 9:</strong>&nbsp; Summaries posted</p>
</div>
<div class="k31gt">
    <p><strong>May 12:</strong>&nbsp; Artist choices due Artist sign-ups close Pinch-hitter sign-ups open</p>
</div>
<div class="k31gt">
    <p><strong>May 17:&nbsp; </strong>Matchings posted Second writer check-in with 5k words due</p>
</div>
<div class="k31gt">
    <p><strong>June 18:&nbsp; </strong>First team check-in due</p>
</div>
<div class="k31gt">
    <p><strong>July 16:</strong>&nbsp; Final check-ins due</p>
</div>
<div class="k31gt">
    <p><strong>July 22:</strong>&nbsp; Posting schedule announced</p>
</div>
<div class="k31gt">
    <p><strong>July 31:</strong>&nbsp; Pinch-hitter sign-ups closed</p>
</div>
<div class="k31gt">
    <p><strong>August 1:&nbsp; </strong>Big Bang goes live!</p>
</div>
</div>
    <!--<div class="col m-5">
<div class="timer">
        <div>
                    <p>00</p>
            <span>Days</span>

        </div>
        <div>
            <p>00</p>
            <span>Hours</span>
            </div>
         <div>   <p>00</p>
            <span>Minutes</span>
         </div><div>   <p>00</p>
            <span>Seconds</span><
                </div>
                <button type="button" class="btn btn-outline-primary">View Last Year's Summaries</button>
</div>
            </div>-->

    <div class="col m-5">
            <img src="https://cdn.discordapp.com/attachments/1036026539139137546/1184309148742062161/Braun_Wei_Schwarz_Minimalistisch_Wasserfarbe_Pinselstrich_Cafe_Logo.png?ex=65b06ad8&is=659df5d8&hm=3992da2b837e82b6ddb2b76438ca03cb11933e297a379a08e3a3091334b14f71&" />
        </div>
    </div>
</div>